*{
    background-color: #f1e2e6;
}
a{
    text-decoration: none;

}
.hreo{
    height: 100vh;
    width: 100vh;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 310px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

nav ul li a {
    color :darkviolet;
    position: relative;
    padding : 10px 0;
    font-weight: bold;

}
nav ul li a:hover{
    color :#f70852;

}
nav ul li a::after {
    content : "";
    bottom : 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 3px;
    background:#f70852 ;
    transition: .3s;

}
nav ul li a:hover::after {
     width:100%;
}


.btn {
    
    color: #f70852;
    font-style: normal;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    background: blueviolet;
    padding: 15px 30px; /* Ajustement du padding pour un meilleur espacement */
    margin: 20px; /* Ajustement de la marge */
    border-radius: 30px;
    text-decoration: none; /* Supprime le soulignement du lien */
    display: inline-block; /* Permet au lien de se comporter comme un bloc en ligne */
}


.btn:hover {
    background:#f70852;
    color: darkviolet;
}
.image img{
    display: block;
    width: 40%;
    height:auto ;
    position: absolute;
    bottom: 0;
    left :-40%;


}
.image{
    width :40%;
position: absolute;
bottom: 690px;
right:800px;
}



.main{
	width: 500px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px purple;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

   


}
#chk{
	display: none;
}

label{
	color:darkviolet;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	


}

input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background:darkviolet;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background-color: crimson;
}

 
p {
    text-align: center;
  }
  
  .aaa {
    text-decoration: none;
    color: #ff2770;
    font-weight: 100;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    
    
    display: inline-block; /* Pour que la largeur fonctionne */
  }
  
  .aaa:hover {
    text-decoration: underline;
  }
  
  .log{
	height: 400px;
	background: darkviolet;
	border-radius: 60% / 10%;
	transform: translateY(-2px);
	transition: .3s ease-in-out;
}


